body{
background-color: rgb(245, 248, 240);
background:linear-gradient(to bottom left,#a8d38f, rgb(250, 249, 240));
background-blend-mode: multiply;
}

.ram{
display:flex;
flex-direction: row;
}

header{
background-color: #a8d38f;
text-align: center;
padding: 10px;
color: rgb(255, 255, 245);
border: hidden;
}

footer{
background-color: #a8d38f;
text-align: center;
padding: 10px;
color: rgb(255, 255, 245);
border: hidden;
}

.box{
height: 565px;
overflow-y: auto;
}

#input{
border: hidden;
border-radius: 12px;
overflow: auto;
padding: 10px;
width: 1245px;
background-color: rgb(248, 250, 245);
}

.btn{
border: hidden;
padding: 10px;
border-radius: 10px;
cursor: pointer;
background-color: rgb(200, 224, 200);
}

.chat{
display: flex;
flex-flow: row nowrap;
}

.messege{
width: fit-content;
padding: 5px;
min-width: 15%;
max-width: 40%;
border: hidden;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
background-color: rgb(224, 241, 214);
text-align: center;
margin-left: auto;
}

.form{
display: flex;
flex-direction: column;
border: solid rgb(220, 220, 220);
justify-content: center;
padding: 50px;
}

.Ff{
display: flex;
justify-content: space-evenly;
margin-top: 11%;
margin-bottom: 11%;
align-items: center;
}

.label{
padding: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(70, 70, 70);
}

.in{
padding: 15px;
border-radius: 15px;
background-color: rgb(245, 249, 244);
}

.fbtn{
display: inline-block;
padding: 10px 20px;
background: rgb(225, 235, 225);
color: rgb(40, 40, 40);
text-decoration: none;
border-radius: 5px;
text-align: center;
margin: 15px;
cursor: pointer;
}

.nav{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    border:hidden;
    width: 200px;
    background-color:#a8d38f ;
}

.navlink{
    border:hidden;
    padding:10px;
    margin:5px;
    background-color:#a8f07e;
    border-radius:15px;
    text-align: center;
    color:#255e05;
    text-decoration: none;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
}

.image{
    display:flex;
    justify-content: center;
}