body{
background:linear-gradient(to bottom left,#8bcaea,#7fcaea, #1778a1);
background-blend-mode: multiply;
font-family:Arial;
}

.ram{
display:flex;
flex-direction: row;
}

h2{
    text-align: center;
    color:rgb(12, 12, 12);
}
header{
background-color: #4f91cf;
text-align: center;
padding: 10px;
color: rgb(255, 255, 245);
border: hidden;
margin-top:0px;
}

footer{
background-color: #4f91cf;
text-align: center;
padding: 10px;
color: rgb(255, 255, 245);
border: hidden;
}

.box{
height: 565px;
overflow-y: auto;
}

#input{
border: hidden;
border-radius: 12px;
overflow: auto;
padding: 10px;
width: 1245px;
background-color: rgb(248, 250, 245);
}

.btn{
border: hidden;
padding: 10px;
border-radius: 10px;
cursor: pointer;
background-color: rgb(200, 224, 200);
}

.btn:hover{
    transform:scale(1.075);
}

.chat{
display: flex;
flex-flow: row nowrap;
}

.messege{
width: fit-content;
padding: 10px;
min-width: 15%;
max-width: 40%;
border: hidden;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
background-color: rgb(159, 229, 241);
text-align: center;
margin-left: auto;
}

.form{
display: flex;
flex-direction: column;
justify-content: center;
margin-left:50px;
margin-right:50px;

}

.label{
padding: 15px;
font-family: Arial;
color: rgb(12, 12, 12);
}

.in{
padding: 15px;
border-radius: 15px;
background-color: rgb(245, 249, 244);
border-color:rgb(36, 51, 166);
}

.in:hover{
    transform:scale(1.075);
}

.fbtn{
display: inline-block;
padding: 10px 20px;
background: rgb(248, 250, 248);
color: rgb(40, 40, 40);
text-decoration: none;
border-radius: 5px;
text-align: center;
margin: 15px;
cursor: pointer;
}

.fbtn:hover{
    transform:scale(1.075);
}

.nav{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    border:hidden;
    width: 200px;
    background-color:#4f91cf ;
}

.navlink{
    border:hidden;
    padding:10px;
    margin:10px;
    background-color:#0584fb;
    border-radius:15px;
    text-align: center;
    color:#0b0b0b;
    text-decoration: none;
}

.navlink:hover{
    transform:scale(1.05);
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  object-fit: cover;
  padding:15px;
}

.imgbtn{
    border:hidden;
    border-radius:100%;
    margin:10px;
    background-color: #4f91cf;
}
.img:hover{
    transform:scale(1.05);
}
.image{
    display:flex;
    justify-content: center;
}

.ss img {
    width: auto;
    height: auto;
    object-fit: contain;
}

.ss{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:170px auto;
    box-shadow: 0 0  10px 6px #e6e1e1;
    width:695px;
    height: 400px;
    animation-name:mya;
    animation-duration:2s;
    transform-origin:bottom;
}

@keyframes mya {
    from{transform:scale(0.50)}
    to{transform:scale(1)}
}

.sign{
    border:hidden;
    display:flex;
    flex-direction: column;
    animation-name:mya;
    animation-duration:2s;
    transform-origin:center;
    padding-top:0px;
    padding-left:50px;
    padding-right:50px;
}

.signi{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:170px auto;
    box-shadow: 0 0  10px 6px #e6e1e1;
    width:650px;
    height: 610px;
    animation-name:mya;
    animation-duration:2s;
    transform-origin:center;
}

.signi img{
    width: auto;
    height: auto;
    object-fit: contain;
}
